<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{admin.overview.title}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

    <nav th:include="navigation :: navigation"></nav>

    <div class="container mt-3 mb-3">
        <div class="row">

            <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-stretch">
                <div class="card bg-light">
                    <a class="card-img-top" th:href="@{/admin/orders}">
                        <img class="img-fluid" th:src="@{/resources/img/orders.jpg}"
                             src="../static/resources/img/orders.jpg" alt="Orders"/>
                    </a>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title" th:text="#{admin.overview.customerOrders}">Kundenbestellungen</h5>
                        <p class="card-text" th:text="#{admin.overview.customerOrders.description}">Beschreibung</p>
                        <a th:href="@{/admin/orders}" class="btn btn-outline-primary mt-auto" th:text="#{admin.overview.customerOrders.btn}">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-stretch">
                <div class="card bg-light">
                    <a class="card-img-top" th:href="@{/admin/statistic}">
                        <img class="img-fluid" th:src="@{/resources/img/statistic.jpg}"
                             src="../static/resources/img/statistic.jpg" alt="Statistic"/>
                    </a>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title" th:text="#{admin.overview.statistic}">Monatsstatistik</h5>
                        <p class="card-text" th:text="#{admin.overview.statistic.description}">Beschreibung</p>
                        <a th:href="@{/admin/statistic}" class="btn btn-outline-primary mt-auto" th:text="#{admin.overview.statistic.btn}">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-stretch">
                <div class="card bg-light">
                    <a class="card-img-top" th:href="@{/admin/suppliers}">
                        <img class="img-fluid" th:src="@{/resources/img/supplierwarehouse.jpg}"
                             src="../static/resources/img/supplierwarehouse.jpg" alt="Supplier"/>
                    </a>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title" th:text="#{admin.overview.suppliers}">Lieferanten</h5>
                        <p class="card-text" th:text="#{admin.overview.suppliers.description}">Beschreibung</p>
                        <a th:href="@{/admin/suppliers}" class="btn btn-outline-primary mt-auto" th:text="#{admin.overview.suppliers.btn}">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html> 