<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{cart.title}">Warenkorb</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav th:include="navigation :: navigation"></nav>

<div class="container pt-3">
	<div th:unless="${cart.empty}">
		<table class="table table bg-light pb-5">
			<tbody>
				<tr th:each="cartItem : ${cart}">
					<td class="align-middle" style="width: 20%">
						<img th:src="@{${cartItem.getProduct().getPicture()}}" class="img-fluid" style="width: 150px">
					</td>
					<td class="align-middle" style="width: 50%">
						<h3 th:text="${cartItem.getProductName()}">Sofa</h3>
					</td>
					<td class="align-middle">
						<h5 th:text="${cartItem.getPrice()}">999,99€</h5>
					</td>
					<td class="align-middle">
						<form class="form-inline" th:method="post" th:action="@{/cart/change/{id}(id=${cartItem.getId()})}">
							<input name="amount" type="number" class="form-control" min="0" max="99" th:value="${cartItem.getQuantity()}" style="width: 60px">
							<button type="submit" class="btn">&#10004;</button>
						</form>
					</td>
					<td class="align-middle">
						<form class="form-inline" th:method="post" th:action="@{/cart/delete/{id}(id=${cartItem.getId()})}">
							<button type="submit" class="btn">&#10060;</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="float-right">
			<p th:text="#{cart.price} + ' ' + ${cart.getPrice()}"></p>
			<a th:href="@{/checkout}" class="btn btn-info ml-3" role="button" th:text="#{cart.checkout}">Bestellen</a>
		</div>
	</div>
	<div th:if="${cart.empty}">
		<p th:text="#{cart.empty}">Warenkorb leer</p>
	</div>
</div>
</body>
</html> 