<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	  <title th:text="#{cart.title}">Warenkorb</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	  <link th:href="@{/resources/css/style.css}" rel="stylesheet"
		  href="../static/resources/css/style.css" type="text/css"/>
</head>
<body>

	<nav th:include="navigation :: navigation"></nav>

	<header th:unless="${cart.empty}" class="cart-header text-center text-black">
		<h1 th:text="#{cart.amountis} + ' ' + ${cart.getPrice()} + '.'"></h1>
		<div>
			<a th:href="@{/catalog}"  class="btn btn-dark btn-lg rounded-pill mt-3 mr-3" role="button" th:text="#{cart.continue}">Continue Shopping</a>
			<a th:href="@{/checkout}" class="btn btn-primary btn-lg rounded-pill mt-3" role="button" th:text="#{cart.checkout}">Bestellen</a>
		</div>
	</header>

	<header th:if="${cart.empty}" class="cart-header text-center text-black">
		<h1 th:text="#{cart.empty}">Warenkorb leer</h1>
		<a th:href="@{/catalog}"  class="btn btn-dark btn-lg rounded-pill mt-3 mr-3" role="button" th:text="#{cart.continue}">Continue Shopping</a>
	</header>

	<div class="cart-empty-header text-center mt-6" th:if="${cart.empty}">
		<div class="container">
			<h3 th:text="#{cart.new}">New Arrivals</h3>
			<p th:text="#{cart.collection}">Checkout out our new collection</p>
			<a th:href="@{/catalog}" th:text="#{cart.shop}">Shop</a>
		</div>
	</div>

	<div class="container mt-3">
		<div th:unless="${cart.empty}">
			<table class="table bg-light pb-5">
				<!--
				<thead class="thead-dark">
					<tr>
						<th scope="col" class="text-black">Product</th>
						<th scope="col" class="text-black"></th>
						<th scope="col" class="text-black">Price</th>
						<th scope="col" class="text-black">Quantity</th>
						<th scope="col" class="text-black"></th>
					</tr>
				</thead>
				-->
					<tr class="mt-3 mb-3" th:each="cartItem : ${cart}">
						<td class="align-middle">
							<img th:src="@{/resources/img/{pic}(pic=${cartItem.getProduct().getPicture()})}" class="img-fluid rounded" style="width: 300px">
						</td>
						<td class="align-middle" style="width: 50%">
							<h3 th:text="${cartItem.getProductName()}">Sofa</h3>
						</td>
						<td class="align-middle">
							<h5 th:text="${cartItem.getPrice()}">999,99€</h5>
						</td>
						<td class="align-middle">
							<form class="form-inline" th:method="post" th:action="@{/cart/change/{id}(id=${cartItem.getId()})}">
								<input name="amount" type="number" class="form-control" min="0" max="99" th:value="${cartItem.getQuantity()}" style="width: 60px">
								<button type="submit" class="btn">&#10004;</button>
							</form>
						</td>
						<td class="align-middle">
							<form class="form-inline" th:method="post" th:action="@{/cart/delete/{id}(id=${cartItem.getId()})}">
								<button type="submit" class="btn">&#10060;</button>
							</form>
						</td>
					</tr>
			</table>
			<div class="float-right mt-3 mb-3">
				<h2 th:text="#{cart.price} + ' ' + ${cart.getPrice()}"></h2>
				<div>
				<a th:href="@{/catalog}"  class="btn btn-dark btn-lg rounded-pill mt-3 mr-3" role="button" th:text="#{cart.continue}">Continue Shopping</a>
				<a th:href="@{/checkout}" class="btn btn-primary btn-lg rounded-pill mt-3" role="button" th:text="#{cart.checkout}">Bestellen</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html> 