<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{order.overview.title}">Kundenbestellungen</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav th:include="navigation :: navigation"></nav>

<div class="container mt-3 mb-3">
	<table class="table table-hover" style="table-layout: fixed">
		<thead class="thead-light">
			<tr>
				<th scope="col" th:text="#{order.overview.number}" style="width: 30%">Bestell-Nr.</th>
				<th scope="col" th:text="#{order.overview.date}">Bestelldatum</th>
				<th scope="col" th:text="#{order.overview.total}">Betrag</th>
				<th scope="col" th:text="#{order.overview.status}" style="width: 15%">Status</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr class="mt-3 mb-3 table-light align-items-baseline" th:each="order : ${orders}">
				<td th:text="${order.getFirst().getId()}">5318008</td>
				<td th:text=" ${#temporals.format(order.getFirst().getDateCreated(), 'dd.MM.yyyy HH:mm:ss')}">23.03.2021</td>
				<td th:text="${order.getFirst().getTotal()}">999,99€</td>
				<td th:text="${#messages.msgOrNull('order.overview.status.' + order.getSecond().name().toLowerCase())}"></td>
				<td>
					<form th:action="@{/order}" th:method="post">
						<input type="hidden" th:value="${order.getFirst().getId()}" id="orderId" name="orderId"/>
						<button type="submit" class="btn btn-outline-primary" role="button" th:text="#{order.overview.check}">Bestellung ansehen</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</body>
</html> 