<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{item.detail.title}">Großansicht</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        div.card-body {
            flex-wrap: wrap;
            flex-direction: row;
        }

        @media only screen and (max-width: 990px) {
            div.card-body {
                flex-direction: column-reverse;
            }
        }
    </style>
</head>
<body>
    <nav th:include="navigation :: navigation"></nav>

    <div class="container mt-3 mb-3">

        <div class="card bg-light">
            <div class="card-body d-flex p-0">
                <div style="flex: 5" class="p-4 align-items-stretch d-flex flex-column">
                    <h3 class="card-title" th:text="${item.getName()}">Sofa</h3>
                    <del><h4 class="text-danger" th:text="${!item.getPartTotal().isEqualTo(item.getPrice()) ? item.getPartTotal().query(T(furnitureshop.FurnitureShop).MONETARY_QUERY) : ''}"></h4></del>
                    <h4 th:text="${item.getPrice().query(T(furnitureshop.FurnitureShop).MONETARY_QUERY)}">999,99€</h4>
                    <p class="card-text" th:text="${item.getDescription()}"></p>

                    <div class="mt-2 mb-3">
                        <h5 th:text="#{item.detail.variant}">Varianten:</h5>
                        <div th:each="v : ${variants}" class="d-inline">
                            <a th:if="${item.equals(v)}" class="btn btn-primary" th:text="${v.getVariant()}" th:href="@{/catalog/{category}/{id}(id=${v.getId()}, category=${v.getCategory().name().toLowerCase()})}">blau</a>
                            <a th:unless="${item.equals(v)}" class="btn btn-outline-primary" th:text="${v.getVariant()}" th:href="@{/catalog/{category}/{id}(id=${v.getId()}, category=${v.getCategory().name().toLowerCase()})}">blau</a>
                        </div>
                    </div>

                    <form class="form-inline mt-auto" th:action="@{/cart/add/{id}(id=${item.getId()})}" method="post">
                        <input name="number" type="number" class="form-control mr-2" min="1" max="99" value="1" style="width: 70px">
                        <button type="submit" class="btn btn-primary" role="button" th:text="#{item.detail.cart}">zum Warenkorb hinzufügen</button>
                    </form>
                </div>

                <div style="flex: 3">
                    <img class="img-fluid" th:src="@{'/catalog/image/' + ${item.getId().getIdentifier()}}" src="../static/resources/img/inventory/chair_1.jpg" alt="Artikel">
                </div>
            </div>
        </div>

    </div>

</body>
</html> 