<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>LKW Mieten</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav th:include="navigation :: navigation"></nav>

<div class="container">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-4 mt-3">
			<div class="alert alert-danger" th:if="${result > 0}">
				<h4 class="alert-heading" th:text="#{lkw.status.error}">Fehler!</h4>

				<div th:if="${result == 1}" th:text="#{lkw.status.name}">Ungültiger Name</div>
				<div th:if="${result == 2}" th:text="#{lkw.status.address}">Ungültige Adresse</div>
				<div th:if="${result == 3}" th:text="#{lkw.status.email}">Ungültige E-Mail</div>
				<div th:if="${result == 4}" th:text="#{lkw.status.date}">Ungültiges Datum</div>
				<div th:if="${result == 5}" th:text="#{lkw.status.unavailable}">LKW nicht verfügbar</div>
				<div th:if="${result == 6}" th:text="#{lkw.status.order}">Fehler bei der Bestellung</div>
			</div>

			<div class="alert alert-success" th:if="${result < 0}">
				<h4 class="alert-heading" th:text="#{lkw.status.success}">Erfolgreich!</h4>

				<div th:if="${result == -1}" th:text="#{lkw.status.available}">LKW verfügbar</div>
			</div>

			<div class="border bg-light rounded p-1">
				<div class="align-middle text-center">
					<img class="img-fluid" th:src="@{${type.getPicture()}}"
						 src="../static/resources/img/smalllkw.jpg" alt="LKW"/>
				</div>
				<div class="pt-3">
					<div class="d-flex justify-content-between align-items-end pl-2 pr-2">
						<h4 th:text="#{lkw.size}">Größe:</h4>
						<h5 th:text="${type.getName()}">5,5t</h5>
					</div>
					<div class="d-flex justify-content-between align-items-end pl-2 pr-2">
						<h4 th:text="#{lkw.price}">Preis:</h4>
						<h5 th:text="${type.getCharterPrice()}">10 EUR</h5>
					</div>
				</div>
			</div>

		</div>
		<div class="col-4 mt-3">
			<form method="post" th:object="${lkwform}" th:action="@{/lkw/checkout/{name}(name=${type.name().toLowerCase()})}" role="form" class="form" id="form">
				<div class="form-group">
		    		<label for="name" th:text="#{order.name}">Name:</label>
		    		<input type="text" name="name" th:value="*{name}" class="form-control" id="name" required th:placeholder="#{order.name.placeholder}">
		  		</div>
				<div class="form-group">
					<label for="address" th:text="#{order.address}">Adresse:</label>
					<input type="text" name="address" th:value="*{address}" class="form-control" id="address" required th:placeholder="#{order.address.placeholder}">
				</div>
		  		<div class="form-group">
		    		<label for="email" th:text="#{order.email}">E-Mail:</label>
		    		<input type="email" name="email" th:value="*{email}" class="form-control" id="email" required th:placeholder="#{order.email.placeholder}">
		  		</div>
		  		<div class="form-group">
					<label for="date" th:text="#{order.date}">Datum:</label>
					<div class="d-flex">
						<input type="date" name="date" th:value="*{date}" class="form-control mr-md-2" id="date" required>
						<button type="submit" th:text="#{lkw.check}" formnovalidate name="check" class="btn btn-outline-primary">Prüfen</button>
					</div>
				</div>
		  		<button type="submit" th:text="#{lkw.buy}" name="buy" class="btn btn-primary">LKW mieten</button>
			</form>
		</div>
		<div class="col-2"></div>
	</div>
</div>

</body>
</html> 