
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div th:fragment="navigation" class="container">
    <div class="jumbotron">
        <h1>Möbel-Hier</h1>
        <p th:text="#{shop.slogan}">Die besten Möbel.</p>
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:href="@{/catalog}" th:text="#{navbar.catalog}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Katalog
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/catalog/chair}" th:text="#{navbar.catalog.chair}">Chair</a>
                    <a class="dropdown-item" th:href="@{/catalog/table}" th:text="#{navbar.catalog.table}">Table</a>
                    <a class="dropdown-item" th:href="@{/catalog/couch}" th:text="#{navbar.catalog.couch}">Couch</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/catalog}">Alles</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/cart}" th:text="#{navbar.cart}">Warenkorb</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/orders}" th:text="#{navbar.orders}">Bestellungen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/lkw}" th:text="#{navbar.lkw}">LKW mieten</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/overview}" th:text="#{navbar.admin}">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}"  sec:authorize="${hasRole('EMPLOYEE')}" th:text="#{navbar.logout}">Logout</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>