<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bestellungen</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav th:include="navigation :: navigation"></nav>

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" style="width: 25%" th:text="#{order.overview.number}">Bestell-Nr.</th>
            <th scope="col" style="width: 25%" th:text="#{order.overview.date}">Bestelldatum</th>
            <th th:if="${deliveryDate != null}" scope="col" style="width: 25%" th:text="#{order.overview.deliveryDate}">Lieferdatum</th>
            <th scope="col" style="width: 25%" th:text="#{order.overview.total}">Betrag</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${order.getId()}">5318008</td>
            <td th:text="${order.getDateCreated()}">23.03.2021</td>
            <td th:if="${deliveryDate != null}" th:text="${deliveryDate}">23.03.2021</td>
            <td th:text="${order.getTotal()}">999,99€</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>