<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{order.overview.detail.title}">Bestellungen</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
</head>
<body>

    <nav th:include="navigation :: navigation"></nav>

    <div class="container mt-3 mb-3">

        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-stretch">
                <div class="card bg-light w-100">
                    <div class="card-header">
                        <h5 th:text="#{order.overview.information.customer}">Kontaktinformationen</h5>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <div class="d-flex flex-row align-items-baseline justify-content-between">
                            <h6 th:text="#{order.name}"></h6>
                            <div th:text="${order.getContactInformation().getName()}"></div>
                        </div>
                        <div class="d-flex flex-row align-items-baseline justify-content-between" th:if="${!order.getContactInformation().getAddress().isEmpty()}">
                            <h6 th:text="#{order.address}"></h6>
                            <div th:text="${order.getContactInformation().getAddress()}"></div>
                        </div>
                        <div class="d-flex flex-row align-items-baseline justify-content-between">
                            <h6 th:text="#{order.email}"></h6>
                            <div th:text="${order.getContactInformation().getEmail()}"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-stretch">
                <div class="card bg-light w-100">
                    <div class="card-header">
                        <h5 th:text="#{order.overview.information.order}">Bestellinformationen</h5>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <div class="d-flex flex-row align-items-baseline justify-content-between">
                            <h6 th:text="#{order.overview.information.number}"></h6>
                            <div class="text-right" th:text="${order.getId()}"></div>
                        </div>
                        <div class="d-flex flex-row align-items-baseline justify-content-between">
                            <h6 th:text="#{order.overview.information.date}"></h6>
                            <div class="text-right" th:text="${#temporals.format(order.getCreated(), 'dd.MM.yyyy HH:mm:ss')}"></div>
                        </div>
                        <div class="d-flex flex-row align-items-baseline justify-content-between">
                            <h6 th:text="#{order.overview.information.update}"></h6>
                            <div class="text-right" th:text="${#temporals.format(order.getUpdated(), 'dd.MM.yyyy HH:mm:ss')}"></div>
                        </div>
                        <div th:if="${charterDate}" class="d-flex flex-row align-items-baseline justify-content-between">
                            <h6 th:text="#{order.overview.information.charter}"></h6>
                            <div class="text-right" th:text="${#temporals.format(charterDate, 'dd.MM.yyyy')}"></div>
                        </div>
                        <div th:if="${deliveryDate}" class="d-flex flex-row align-items-baseline justify-content-between">
                            <h6 th:text="#{order.overview.information.delivery}"></h6>
                            <div class="text-right" th:text="${#temporals.format(deliveryDate, 'dd.MM.yyyy')}"></div>
                        </div>
                        <div th:unless="${order.getMissingPayment().isZero()}" class="d-flex flex-row align-items-baseline justify-content-between">
                            <h6 th:text="#{order.overview.information.item.remaining}"></h6>
                            <div class="text-right" th:text="${order.getMissingPayment().query(T(furnitureshop.FurnitureShop).MONETARY_QUERY)}"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-stretch">
                <div class="card bg-light w-100">
                    <div class="card-header">
                        <h5 th:text="#{order.overview.information.price}">Preisinformationen</h5>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <div th:if="${charterDate == null}" class="d-flex flex-row align-items-baseline justify-content-between">
                            <h6 th:text="#{order.overview.information.item.total}"></h6>
                            <div class="text-right" th:text="${order.getItemTotal().query(T(furnitureshop.FurnitureShop).MONETARY_QUERY)}"></div>
                        </div>
                        <div th:if="${charterDate}" class="d-flex flex-row align-items-baseline justify-content-between">
                            <h6 th:text="#{order.overview.information.charter.cost}"></h6>
                            <div class="text-right" th:text="${order.getTotal().query(T(furnitureshop.FurnitureShop).MONETARY_QUERY)}"></div>
                        </div>
                        <div th:unless="${order.getRefund().isZero()}" class="d-flex flex-row align-items-baseline justify-content-between">
                            <h6 th:text="#{order.overview.information.item.refund}"></h6>
                            <div class="text-right text-success" th:text="${'-' + order.getRefund().query(T(furnitureshop.FurnitureShop).MONETARY_QUERY)}"></div>
                        </div>
                        <div th:unless="${order.getCancelFee().isZero()}" class="d-flex flex-row align-items-baseline justify-content-between">
                            <h6 th:text="#{order.overview.information.item.cancel}"></h6>
                            <div class="text-right text-danger" th:text="${order.getCancelFee().query(T(furnitureshop.FurnitureShop).MONETARY_QUERY)}"></div>
                        </div>
                        <div th:if="${deliveryDate}" class="d-flex flex-row align-items-baseline justify-content-between">
                            <h6 th:text="#{order.overview.information.delivery.cost}"></h6>
                            <div class="text-right" th:text="${lkw.getType().getDelieveryPrice().query(T(furnitureshop.FurnitureShop).MONETARY_QUERY)}"></div>
                        </div>
                        <div class="d-flex flex-row align-items-baseline justify-content-between">
                            <h6 th:text="#{order.overview.information.total}"></h6>
                            <div class="text-right" th:text="${order.getTotal().query(T(furnitureshop.FurnitureShop).MONETARY_QUERY)}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table th:if="${items}" class="table table-hover">
            <thead class="thead-light">
            <tr class="text-center">
                <th scope="col"></th>
                <th scope="col" style="width: 20%" th:text="#{order.overview.item}">Artikel</th>
                <th scope="col" th:text="#{order.overview.item.price}">Preis</th>
                <th scope="col" th:text="#{order.overview.item.status}">Status</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}" class="table-light text-center">
                <td class="align-middle">
                    <img th:src="@{'/catalog/image/' + ${item.getItem().getId().getIdentifier()}}" class="img-fluid rounded" style="height: 150px"
                         src="../static/resources/img/inventory/chair_1.jpg" alt="Artikel">
                </td>
                <td class="align-middle">
                    <h5 th:text="${item.getItem().getName()}">Sofa</h5>
                </td>
                <td class="align-middle">
                    <h5 th:text="${item.getItem().getPrice().query(T(furnitureshop.FurnitureShop).MONETARY_QUERY)}">999,99€</h5>
                </td>
                <td class="align-middle" style="width: 20%">
                    <!--h5 th:text="${#messages.msgOrNull('order.overview.status.' + item.getStatus().name().toLowerCase())}">paid</h5-->
                    <div class="progress" th:if="${item.getStatus().toString() == 'OPEN'}" style="height: 25px">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%">
                            <span th:text="${#messages.msgOrNull('order.overview.status.' + item.getStatus().name().toLowerCase())}">PAID</span>
                        </div>
                    </div>
                    <div class="progress" th:if="${item.getStatus().toString() == 'PAID'}" style="height: 25px">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                            <span th:text="${#messages.msgOrNull('order.overview.status.' + item.getStatus().name().toLowerCase())}">PAID</span>
                        </div>
                    </div>
                    <div class="progress" th:if="${item.getStatus().toString() == 'STORED'}" style="height: 25px">
                        <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                             aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                            <span th:text="${#messages.msgOrNull('order.overview.status.' + item.getStatus().name().toLowerCase())}">PAID</span>
                        </div>
                    </div>
                    <div class="progress" th:if="${item.getStatus().toString() == 'COMPLETED'}" style="height: 25px">
                        <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                            <span th:text="${#messages.msgOrNull('order.overview.status.' + item.getStatus().name().toLowerCase())}">PAID</span>
                        </div>
                    </div>
                    <div class="progress" th:if="${item.getStatus().toString() == 'CANCELLED'}" style="height: 25px">
                        <div class="progress-bar bg-danger progress-bar-striped" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                            <span th:text="${#messages.msgOrNull('order.overview.status.' + item.getStatus().name().toLowerCase())}">PAID</span>
                        </div>
                    </div>
                </td>
                <td class="align-middle">
                    <div class="dropdown" sec:authorize="hasRole('EMPLOYEE')">
                        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Status ändern
                        </button>
                        <div class="dropdown-menu">
                            <form class="dropdown-entry" th:each="status : ${T(furnitureshop.order.OrderStatus).values()}" method="post" th:action="@{/order/{orderId}/changeStatus (orderId=${order.getId().getIdentifier()})}">
                                <input type="hidden" name="itemEntryId" th:value="${item.getId()}"/>
                                <input type="hidden" name="status" th:value="${status}"/>
                                <button type="submit" class="dropdown-item" th:text="${#messages.msgOrNull('order.overview.status.' + status.name().toLowerCase())}">eingegangen</button>
                            </form>
                        </div>
                    </div>
                    <div sec:authorize="!hasRole('EMPLOYEE')" th:unless="${item.getStatus() == T(furnitureshop.order.OrderStatus).COMPLETED || item.getStatus() == T(furnitureshop.order.OrderStatus).CANCELLED}">
                        <form th:action="@{/order/{orderId}/cancelItem (orderId=${order.getId().getIdentifier()})}" method="post">
                            <input type="hidden" name="itemEntryId" th:value="${item.getId()}"/>
                            <button type="submit" class="btn btn-outline-danger" th:text="#{order.overview.item.cancel}">Artikel stornieren</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <table th:unless="${items}" class="table table-hover">
            <thead class="thead-light">
            <tr class="text-center">
                <th scope="col"></th>
                <th scope="col" style="width: 20%" th:text="#{order.overview.lkw}">LKW</th>
                <th scope="col" th:text="#{order.overview.lkw.price}">Preis</th>
                <th scope="col" th:text="#{order.overview.lkw.status}">Status</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="mt-3 mb-3 table-light text-center">
                <td class="align-middle">
                    <img class="img-fluid rounded" th:src="@{${lkw.getType().getPicture()}}" style="height: 150px"
                         src="../static/resources/img/lkw/smalllkw.jpg" alt="LKW"/>
                </td>
                <td class="align-middle">
                    <h5 th:text="#{lkw.size} + ' ' + ${lkw.getType().getName()}">LKW</h5>
                </td>
                <td class="align-middle">
                    <h5 th:text="${lkw.getType().getCharterPrice().query(T(furnitureshop.FurnitureShop).MONETARY_QUERY)}">999,99€</h5>
                </td>
                <td class="align-middle">
                    <h5 th:text="${cancelable ? #messages.msg('order.overview.status.paid') : #messages.msg('order.overview.status.completed')}">paid</h5>
                </td>
                <td class="align-middle">
                    <form th:if="${cancelable}" th:action="@{/order/{orderId}/cancelLkw (orderId=${order.getId().getIdentifier()})}" method="post">
                        <button type="submit" class="btn btn-outline-danger" th:text="#{order.overview.lkw.cancel}">LKW stornieren</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</body>
</html> 