<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Bestellungen</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav th:include="navigation :: navigation"></nav>

<div class="container pt-3">

	<p th:text="'Name: ' + ${order.getContactInformation().getName()}"></p>
	<p th:text="'Adresse: ' + ${order.getContactInformation().getAddress()}"></p>
	<p th:text="'Email: ' + ${order.getContactInformation().getEmail()}"></p>
	<p th:text="'Bestellnummer: ' + ${order.getId()}"></p>
	<p th:text="'Bestelldatum: ' + ${#temporals.format(order.getDateCreated(), 'dd.MM.yyyy HH:mm:ss')}"></p>

	<p th:if="${charterDate}" th:text="'Mietdatum: ' + ${#temporals.format(charterDate, 'dd.MM.yyyy')}"></p>
	<p th:if="${charterDate}" th:text="'Mietpreis: ' + ${order.getTotal()}"></p>

	<p th:if="${deliveryDate}" th:text="'Lieferdatum: ' + ${#temporals.format(deliveryDate, 'dd.MM.yyyy')}"></p>
	<p th:if="${deliveryDate}" th:text="'Itempreis: ' + ${order.getTotal().subtract(lkw.getType().getDelieveryPrice())}"></p>
	<p th:if="${deliveryDate}" th:text="'Lieferpreis: ' + ${lkw.getType().getDelieveryPrice()}"></p>

	<p th:if="${charterDate == null}" th:text="'Gesamtpreis: ' + ${order.getTotal()}"></p>

	<table th:if="${items}" class="table bg-light pb-5">
		<tbody>
			<tr th:each="item : ${items}">
				<td class="align-middle" style="width: 20%">
					<img th:src="@{${item.getItem().getPicture()}}" class="img-fluid" style="width: 150px">
				</td>
				<td class="align-middle">
					<h3 th:text="${item.getItem().getName()}">Sofa</h3>
				</td>
				<td class="align-middle">
					<h5 th:text="${item.getItem().getPrice()}">999,99€</h5>
				</td>
				<td class="align-middle">
					<h5 th:text="${item.getStatus().name().toLowerCase()}">999,99€</h5>
				</td>
				<td sec:authorize="hasRole('EMPLOYEE')" class="align-middle">
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Status ändern
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#" th:each="s : ${statuses}" th:text="${s.name().toLowerCase()}">eingegangen</a>
						</div>
					</div>
				</td>
				<td sec:authorize="!hasRole('EMPLOYEE')" th:unless="${item.getStatus() == T(furnitureshop.order.OrderStatus).COMPLETED || item.getStatus() == T(furnitureshop.order.OrderStatus).COMPLETED}" class="align-middle">
					<button type="button" class="btn btn-secondary">Artikel stornieren</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html> 