<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{checkout.title}">Admin Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav th:include="navigation :: navigation"></nav>

<div class="container">
	<div class="row">
		<div class="col-4"></div>
		<div class="col-4">
			<form class="form pt-3" th:object="${orderform}" th:method="post" th:action="@{/checkout/completeOrder}">
				<div class="form-group">
		    		<label for="name" th:text="#{checkout.name}">Name:</label>
		    		<input type="text" class="form-control" id="name" name="name" th:value="*{name}" required>
		  		</div>
		  		<div class="form-group">
		    		<label for="email" th:text="#{checkout.email}">E-Mail:</label>
		    		<input type="email" class="form-control" id="email" name="email" th:value="*{email}" required>
		  		</div>
		  		<div class="form-group">
		    		<label for="address" th:text="#{checkout.address}">Adresse:</label>
		    		<input type="text" class="form-control" id="address" name="address" th:value="*{address}" required>
		  		</div>
		  		<div class="form-check">
					<input class="form-check-input" type="radio" name="orderType1" id="orderType1" value="1" th:field="*{index}">
					<label class="form-check-label" for="orderType1" th:text="#{checkout.delivery}">
					    Lieferung
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="orderType2" id="orderType2" value="0" th:field="*{index}">
					<label class="form-check-label" for="orderType2" th:text="#{checkout.pickup}">
				    	Abholung
				  	</label>
				</div>
				<div th:if="${!cart.empty}">
					<p th:text="#{checkout.pay} + ' ' + ${cart.getPrice()}"></p>
				</div>
		  		<button type="submit" class="btn btn-info mt-3" th:text="#{checkout.complete}">Bestellung abschicken</button>
			</form>
		</div>
		<div class="col-4"></div>
	</div>
</div>

</body>
</html> 