<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Bestellungen</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav th:include="navigation :: navigation"></nav>

<div class="container pt-3">

	<p th:text="'Name: ' + ${contactInfo.getName()}"></p>
	<p th:text="'Adresse: ' + ${contactInfo.getAddress()}"></p>
	<p th:text="'Email: ' + ${contactInfo.getEmail()}"></p>
	<p th:if="${deliveryDate}" th:text="'Lieferdatum: ' + ${deliveryDate}"></p>
	<p th:text="'Gesamtpreis: ' + ${order.getTotal()}"></p>
	<p th:text="'Bestelldatum: ' + ${order.getDateCreated()}"></p>

	<table class="table bg-light pb-5">
		<tbody>
			<tr th:if="${!items.isEmpty()}" th:each="item : ${items}">
				<td class="align-middle" style="width: 20%">
					<img th:src="${item.getPicture()}" class="img-fluid" style="width: 150px">
				</td>
				<td class="align-middle">
					<h3 th:text="${item.getName()}">Sofa</h3>
				</td>
				<td class="align-middle">
					<h5 th:text="${item.getCustomerPrice()}">999,99€</h5>
				</td>
				<td sec:authorize="hasRole('EMPLOYEE')" class="align-middle">
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Status ändern
						</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">eingegangen</a>
								<a class="dropdown-item" href="#">eingelagert</a>
								<a class="dropdown-item" href="#">bezahlt</a>
								<a class="dropdown-item" href="#">abgeschlossen</a>
								<a class="dropdown-item" href="#">storniert</a>
							</div>
					</div>
				</td>
				<td sec:authorize="!hasRole('EMPLOYEE')" class="align-middle">
					<button type="button" class="btn btn-secondary">Artikel stornieren</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html> 