<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{supplier.items.title}">Lieferanten</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav th:include="navigation :: navigation"></nav>

    <div class="container mt-3 mb-3" th:unless="${edit}">
        <form class="form" enctype="multipart/form-data" th:object="${itemForm}" method="post" th:action="@{/admin/supplier/{id}/items/add(id=${suppId})}">
            <div class="form-group">
                <label for="name" th:text="#{supplier.items.add.name}">Artikelname</label>
                <input type="text" name="name" th:value="*{name}" class="form-control" id="name" required th:placeholder="#{supplier.items.add.name.placeholder}">
            </div>
            <div class="form-group">
                <label for="groupId" th:text="#{supplier.items.add.groupid}">Gruppennummer</label>
                <input type="number" min="0" max="1000" name="groupId" th:value="*{groupId}" class="form-control" id="groupId" required th:placeholder="#{supplier.items.add.groupid.placeholder}">
            </div>
            <div class="form-group">
                <label for="weight" th:text="#{supplier.items.add.weight}">Gewicht</label>
                <input type="number" min="0" max="1000" name="weight" th:value="*{weight}" class="form-control" id="weight" required th:placeholder="#{supplier.items.add.weight.placeholder}">
            </div>
            <div class="form-group">
                <label for="image" th:text="#{supplier.items.add.picture}">Bild</label>
                <input type="file" name="image" class="form-control-file" id="image" required>
            </div>
            <div class="form-group">
                <label for="variant" th:text="#{supplier.items.add.variant}">Variante</label>
                <input type="text" name="variant" th:value="*{variant}" class="form-control" id="variant" required th:placeholder="#{supplier.items.add.variant.placeholder}">
            </div>
            <div class="form-group">
                <label for="description" th:text="#{supplier.items.add.description}">Beschreibung</label>
                <textarea name="description" th:text="*{description}" class="form-control" id="description" required th:placeholder="#{supplier.items.add.description.placeholder}"></textarea>
            </div>
            <div class="form-group">
                <label for="price" th:text="#{supplier.items.add.price}">Preis</label>
                <input type="number" min="0" step=".01" name="price" th:value="*{price}" class="form-control" id="price" required>
            </div>
            <div class="form-group">
                <label for="category" th:text="#{supplier.items.add.category}">Kategorie</label>
                <select class="form-control" name="category" id="category" th:value="*{category}">
                    <option th:each="category : ${categories}" th:if="${category != category.SET}" th:text="${category.toString()}"></option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary mt-3" th:text="#{supplier.items.add.complete}">Artikel hinzufügen</button>
            </div>
        </form>
    </div>

    <div class="container mt-3 mb-3" th:if="${edit}">
        <div class="row">
            <div class="col-lg-2 col-md-6 mb-4" th:each="item : ${items}">
                <div class="card bg-light">
                    <a class="card-img-top">
                        <img class="img-fluid" th:src="@{'/catalog/image/' + ${item.getId().getIdentifier()}}"
                             src="../static/resources/img/inventory/chair_1.jpg" alt="Artikel"/>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${item.getName()}">Name</h5>
                        <h5 class="text-dark" th:text="${item.getPrice().query(T(furnitureshop.FurnitureShop).MONETARY_QUERY)}">999,99€</h5>
                        <div class="ml-3">
                            <input type="checkbox" class="form-check-input" name="items" th:value="${item.getId()}" th:id="${item.getId()}" checked disabled/>
                            <label class="form-check-label ml-1" th:for="${item.getId()}" th:text="#{supplier.sets.item.add}">Artikel hinzufügen</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form  class="form" enctype="multipart/form-data" th:object="${itemForm}" th:method="post" th:action="@{/admin/supplier/{suppId}/items/edit/{itemId}(suppId=${suppId}, itemId=${itemId})}">
            <div class="form-group">
                <label for="name" th:text="#{supplier.items.add.name}">Artikelname</label>
                <input type="text" name="name" th:value="*{name}" class="form-control" th:id="name" required th:placeholder="#{supplier.items.add.name.placeholder}">
            </div>
            <div class="form-group">
                <label for="groupId" th:text="#{supplier.items.add.groupid}">Gruppennummer</label>
                <input type="number" min="0" max="1000" name="groupId" th:value="*{groupId}" class="form-control" th:id="groupId" required readonly th:placeholder="#{supplier.items.add.groupid.placeholder}">
            </div>
            <div class="form-group">
                <label for="weight" th:text="#{supplier.items.add.weight}">Gewicht</label>
                <input type="number" min="0" max="1000" name="weight" th:value="*{weight}" class="form-control" th:id="weight" required readonly th:placeholder="#{supplier.items.add.weight.placeholder}">
            </div>
            <div class="form-group">
                <label th:for="image" th:text="#{supplier.items.add.picture}">Bild</label>
                <input type="file" name="image" class="form-control-file" th:id="image">
            </div>
            <div class="form-group">
                <label for="variant" th:text="#{supplier.items.add.variant}">Variante</label>
                <input type="text" name="variant" th:value="*{variant}" class="form-control" th:id="variant" required readonly th:placeholder="#{supplier.items.add.variant.placeholder}">
            </div>
            <div class="form-group">
                <label for="description" th:text="#{supplier.items.add.description}">Beschreibung</label>
                <textarea name="description" th:text="*{description}" class="form-control" th:id="description" required th:placeholder="#{supplier.items.add.description.placeholder}"></textarea>
            </div>
            <div class="form-group">
                <label for="price" th:text="#{supplier.items.add.price}">Preis</label>
                <input type="number" min="0" th:max="${maxPrice}" step=".01" name="price" th:value="*{price}" class="form-control" th:id="price" required>
            </div>
            <div class="form-group">
                <label for="category" th:text="#{supplier.items.add.category}">Kategorie</label>
                <select class="form-control" name="category" th:id="category" th:value="*{category}" disabled>
                    <option th:each="category : ${categories}" th:if="${category == itemForm.getCategory()}" th:text="${category.toString()}"></option>
                </select>
            </div>
            <div class="form-group">
                <input type="hidden" th:value="${itemId}" name="itemId">
                <button type="submit" class="btn btn-primary mt-3" th:text="#{supplier.items.edit.complete}">Artikel speichern</button>
            </div>
        </form>
    </div>
</body>
</html> 