<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{supplier.sets.title}">Lieferanten</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
</head>
<body>

    <nav th:include="navigation :: navigation"></nav>


    <div class="container mt-3 mb-3">
        <form class="form" enctype="multipart/form-data" method="post" th:object="${setForm}" th:action="@{/admin/supplier/{suppId}/sets/add/set(suppId=${suppId})}">
            <div class="row">
            <div class="col-lg-2 col-md-6 mb-4" th:each="item : *{items}">
                <div class="card bg-light">
                    <a class="card-img-top">
                        <img class="img-fluid" th:src="@{'/catalog/image/' + ${item.getId().getIdentifier()}}"
                             src="../static/resources/img/inventory/chair_1.jpg" alt="Artikel"/>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${item.getName()}">Name</h5>
                        <h5 class="text-dark" th:text="${item.getPrice().query(T(furnitureshop.FurnitureShop).MONETARY_QUERY)}">999,99€</h5>
                        <div class="ml-3">
                            <input type="checkbox" class="form-check-input" name="items" th:value="${item.getId()}" th:id="${item.getId()}" checked required/>
                            <label class="form-check-label ml-1" th:for="${item.getId()}" th:text="#{supplier.sets.item.add}">Artikel hinzufügen</label>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <h4 th:text="#{supplier.sets.add.formtitle}">Set Daten hinzufügen!</h4>
                    <div class="form-group">
                        <label for="name" th:text="#{supplier.sets.add.name}">Artikelname</label>
                        <input type="text" name="name" th:value="*{name}" class="form-control" id="name" required th:placeholder="#{supplier.sets.add.name.placeholder}">
                    </div>
                    <div class="form-group">
                        <label for="groupId" th:text="#{supplier.items.add.groupid}">Gruppennummer</label>
                        <input type="number" min="0" max="1000" name="groupId" th:value="*{groupId}" class="form-control" id="groupId" required th:placeholder="#{supplier.items.add.groupid.placeholder}">
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="weight" th:value="*{weight}" class="form-control" id="weight">
                    </div>
                    <div class="form-group">
                        <label for="image" th:text="#{supplier.items.add.picture}">Bild</label>
                        <input type="file" name="image" class="form-control-file" id="image" required>
                    </div>
                    <div class="form-group">
                        <label for="variant" th:text="#{supplier.items.add.variant}">Variante</label>
                        <input type="text" name="variant" th:value="*{variant}" class="form-control" id="variant" required th:placeholder="#{supplier.sets.add.variant.placeholder}">
                    </div>
                    <div class="form-group">
                        <label for="description" th:text="#{supplier.items.add.description}">Beschreibung</label>
                        <textarea name="description" th:text="*{description}" class="form-control" id="description" required th:placeholder="#{supplier.sets.add.description.placeholder}"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="price" th:text="#{supplier.sets.add.price}">Preis</label>
                        <input type="number" min="0" th:max="${maxPrice}" step="0.1" name="price" th:value="*{price}" class="form-control" id="price" required>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="category" th:value="*{category}" id="category" required/>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary" th:text="#{supplier.sets.create}">Set erstellen</button>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </form>
    </div>

</body>
</html>