<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{supplier.sets.title}">Lieferanten</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
</head>
<body>
    <nav th:include="navigation :: navigation"></nav>

    <div class="container mt-3 mb-3">
        <div class="alert alert-danger" th:if="${lempty}">
            <h4 class="alert-heading" th:text="#{order.status.error}">Fehler!</h4>
            <div th:text="#{supplier.sets.add.lempty}">Ungültiger Name</div>
        </div>

        <form method="post" th:action="@{/admin/supplier/{suppId}/sets/add(suppId=${suppId})}">
            <div th:each="category : ${itemMap.keySet()}">
                <h4 class="mt-3 mb-3" th:text="${category}">Kategorie</h4>
                <div class="row">
                    <div class="col-lg-2 col-md-6 mb-4" th:each="item : ${itemMap.get(category)}">
                        <div class="card bg-light">
                            <a class="card-img-top">
                                <img class="img-fluid" th:src="@{'/catalog/image/' + ${item.getId().getIdentifier()}}"
                                     src="../static/resources/img/inventory/chair_1.jpg" alt="Artikel"/>
                            </a>
                            <div class="card-body">
                                <h5 class="card-title" th:text="${item.getName()}">Name</h5>
                                <h5 class="text-dark" th:text="${item.getPrice().query(T(furnitureshop.FurnitureShop).MONETARY_QUERY)}">999,99€</h5>
                                <div class="ml-3">
                                    <input type="checkbox" class="form-check-input" name="itemList" th:value="${item.getId()}" th:id="${item.getId()}"/>
                                    <label class="form-check-label ml-1" th:for="${item.getId()}" th:text="#{supplier.sets.item.add}">Artikel hinzufügen</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{supplier.sets.add.continue}">Weiter</button>
        </form>
    </div>
</body>
</html> 