<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{supplier.items.title}">Lieferanten</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav th:include="navigation :: navigation"></nav>

    <div class="container mt-3 mb-3">
        <div class="row">
            <div class="col-lg 4"></div>
            <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-stretch">
                <div class="card bg-light w-100">
                    <div class="card-header">
                        <h5 th:text="#{supplier.items.information}">Lieferanteninformationen</h5>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <div class="d-flex flex-row align-items-baseline justify-content-between">
                            <h6 th:text="#{supplier.name}"></h6>
                            <div th:text="${supplier.getName()}"></div>
                        </div>
                        <div class="d-flex flex-row align-items-baseline justify-content-between">
                            <h6 th:text="#{supplier.surcharge}"></h6>
                            <div th:text="${supplier.getSurchargeInPercent()} + '%'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg 4"></div>
        </div>
        <table class="table table-hover" style="table-layout: fixed">
            <thead class="thead-light">

            <tr>
                <th scope="col"></th>
                <th scope="col" th:text="#{supplier.items.item.name}">Artikel</th>
                <th scope="col" th:text="#{supplier.items.item.price}">Preis</th>
                <th scope="col" th:text="#{supplier.items.item.variant}">Variante</th>
                <th scope="col" style="width:20%" th:text="#{supplier.items.item.description}">Beschreibung</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="mt-3 mb-3 table-light" th:each="item : ${items}">
                <td class="align-middle">
                    <img th:src="@{${item.getPicture()}}" class="img-fluid rounded" style="height: 150px"
                         src="../static/resources/img/chair_1.jpg" alt="Artikel">
                </td>
                <td class="align-middle">
                    <h5 th:text="${item.getName()}">Sofa</h5>
                </td>
                <td class="align-middle">
                    <h5 th:text="${item.getPrice()}">999,99€</h5>
                </td>
                <td class="align-middle">
                    <h5 th:text="${item.getVariant()}">blau</h5>
                </td>
                <td class="align-middle">
                    <h5 th:text="${item.getDescription()}">Sofa in blau</h5>
                </td>
                <td class="align-middle">
                    <form th:method="post" th:action="@{/admin/supplier/items/{suppId}/edit/{itemId}(suppId=${supplier.getId()}, itemId=${item.getId()})}">
                        <button type="submit" class="btn btn-outline-primary" th:text="#{supplier.items.item.edit}">Artikel ändern</button>
                    </form>
                </td>
                <td class="align-middle">
                    <form th:method="post" th:action="@{/admin/supplier/items/{suppId}/delete/{itemId}(suppId=${supplier.getId()}, itemId=${item.getId()})}">
                        <button type="submit" class="btn btn-outline-danger" th:text="#{supplier.items.item.delete}">Artikel entfernen</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html> 